.card-text {
    color: "#b6b4b4";
}
.summary {
    color: #f5f5f5;
    font-size: 15px;
}
.text {
    color: #6c757d;
    margin-bottom: 3px;
    margin-top: 4px;
    font-size: 12px;
    opacity: 1;
}
.detail {
    margin-bottom: 15px;
}
.card {
    border-radius: 15px;
    background-color: rgb(41, 47, 51);
    color: #fff;
    margin-bottom: 20px;
}

.card-img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
